<!DOCTYPE html>
<html>
  <head>
    <title>Bruh..</title>
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div id="checkmodal" class="modal fade" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">WAIT!</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <form class="form-horizontal" method="POST" action = "/cats/deletecat">
                    <p>Are you sure?</p>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type = "hidden" name = "todelete" value = <%= _id %> >
                            <input type="submit" value="DELETE">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <div id="header">
      <div id="header-text-main">
        <a class="page-link" href="/cats">
          <p>Back</p>
        </a>
      </div>
    </div>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-5">
            <img src=<%= img %> />
            <img src="data:image/jpg;base64,<%= img %>" />
        </div>
      <h1><b><%= name %></b></h1>
      <h3><%= age %></h3>
      <h3><b>weight</b>: <%= weight %><br><b>color</b>: <%= color %></h3>
    </div>
    <a href="#checkmodal" data-toggle="modal">Delete</a>
  </body>
</html>
