<!DOCTYPE html>
<html>
  <head>
    <title>Cats</title>
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://listjs.com/assets/javascripts/list.min.js"></script>
  </head>
  <body>
    <div class="container" id="header">
      <div id="header-text-main">
        <a class="page-link" href="/">
          <p>Home</p>
        </a>
      </div>
    </div>
    <div class="container" id="main-content">
      <div id="test-list">
        <ul class="list">
          <% cats.forEach((cat, i, arr) => { %>
            <div class="row">
              <div class="col-md-5">
                <a href="/cat/<%= cat['id'] %>">
                  <img src=<%= cat['img'] %> />
                </a>
              </div>
              <div>
                <a class="page-link" href="/cat/<%= cat['id'] %>">
                  <h1><%= cat['name'] %></h1>
                </a>
                <h3><b>color</b>:<%= cat['color'] %></h3>
                <h3><b>age</b>: <%= cat['age'] %><br>
                <b>weight</b>: <%= cat['weight'] %></h3>
              </div>
            </div>
          <% }); %>
        </ul>
        <ul class="pagination"></ul>
      </div>
    </div>
    <script type="text/javascript" src="/js/pager.js"></script>

  </body>
</html>
